.post-game {
  width: 100%;

  .button {
    width: 100%;
    margin-top: 20px;
  }
}

.ranked-player {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px 5px 5px;
  color: #0009;
  text-shadow: 0 0 1px #0003;
  background: linear-gradient(to right, #ffefba, #fff6);
  border-radius: 4px;

  &__rank {
    position: absolute;
    top: -5px;
    left: -10px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #e67e22;
    border-radius: 50%;
    box-shadow: 0 1px 0 #0003;
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__name {
    flex-grow: 1;
    margin-left: 10px;
  }

  &__score {
    width: 40px;
    text-align: right;
  }
}