.post-game {
  width: 100%;

  .button {
    width: 100%;
    margin-top: 20px;
  }
}

.ranked-player {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  width: 100%;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to right, #649173, #dbd5a466);
  border-radius: 4px;

  &__rank {
    position: absolute;
    top: -5px;
    left: -10px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #e67e22;
    border-radius: 50%;
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__name {
    flex-grow: 1;
    margin-left: 10px;
  }

  &__score {
    width: 40px;
    text-align: right;
    text-shadow: 0 0 2px rgba(0,0,0,.54);
  }
}