* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 640px;
  background-image: linear-gradient(-45deg, #4facfe 0%, #00f2fe 100%);
  // background: linear-gradient(-45deg, #efefbb, #d4d3dd);
  // background: linear-gradient(-45deg, #ffefba, #ffffff);
  background: linear-gradient(-45deg, #e0eafc, #cfdef3);
  // background: linear-gradient(-45deg, #ece9e6, #ffffff);
  background: linear-gradient(-45deg, #abbaab, #ffffff);
}

.opponent-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 340px;
  margin: 20px auto 0;
  padding-top: 15px;
}

.opponent-card-wrapper {
  &:nth-of-type(1), &:nth-of-type(4) {
    margin-top: 70px;
  }
  &:nth-of-type(2) {
    margin-left: -10px;
  }
  &:nth-of-type(3) {
    margin-right: -10px;
  }
}

.card-stack {
  width: 100px;
  height: 150px;
  margin: 20px auto 0;
  
  .card {
    position: absolute;
  }
}

.player-hand {
  height: 165px;
  margin-top: 20px;
  overflow: hidden;

  &__main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    max-width: 100%;
    height: 175px;
    margin: 0 auto;
    overflow: auto;

    &::before, &::after {
      content: '';
      display: block;
      min-width: 10px;
    }
  }

  &__card-wrapper {
    position: relative;
    min-width: 55px;
    padding: 7px 0;

    &:last-of-type {
      min-width: 100px;
    }

    .card {
      position: absolute;
      transform: rotate(-3deg);
    }
  }
}

.base {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 0 3px rgba(0,0,0,.54);
}