.discard-pile {
  &__direction-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.1;

    &--reversed {
      transform: scaleX(-1);
    }
  }
  &__direction {
    height: 100%;
    background: url('../../../assets/refresh.png') center / 250px no-repeat;
    animation: spin 10s linear infinite;
  }

  &__card-container {
    width: 100px;
    height: 150px;
    margin: 0 auto;
  }
  
  .card {
    position: absolute;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}