$primaryBackgroundImage: url('../assets/bright-squares.png');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  user-select: none;
  outline: none;
}

html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

strong {
  font-weight: 500;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 900px;
  color: #fff;
  text-shadow: 0 0 1px #fff7;
  background-image: repeating-radial-gradient(circle at center, #fff3 0, #fff3 30px, #fff0 31px, #fff0 70px), linear-gradient(#EC84D3, #764ACF);
  // background: $primaryBackgroundImage, linear-gradient(-45deg, #ffefba, #ffffff);
  // animation: flicker 3s linear infinite;
}

@keyframes flicker {
  0% {
    background: $primaryBackgroundImage, linear-gradient(-45deg, #ffefba, #ffffff);
  }
  25% {
    background: $primaryBackgroundImage 200px 50px, linear-gradient(-45deg, #ffefba, #ffffff);
  }
  50% {
    background: $primaryBackgroundImage 50px -210px, linear-gradient(-45deg, #ffefba, #ffffff);
  }
  75% {
    background: $primaryBackgroundImage 150px -100px, linear-gradient(-45deg, #ffefba, #ffffff);
  }
  100% {
    background: $primaryBackgroundImage, linear-gradient(-45deg, #ffefba, #ffffff);
  }
}