.player-hand {
  // transform: translateY(20%);
  height: 165px;
  margin-top: 5px;
  opacity: 0.8;
  overflow: hidden;
  transition: all .2s;

  &--active {
    // transform: none;
    opacity: 1;

    .player-hand__card-wrapper {
      pointer-events: initial;
    }
  }

  &__main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    max-width: 100%;
    height: 175px;
    margin: 0 auto;
    overflow: auto;

    &::before, &::after {
      content: '';
      display: block;
      // min-width: 10px;
    }
  }

  &__card-wrapper {
    position: absolute;
    left: 0;
    // min-width: 55px;
    padding: 7px 0;
    // cards in player's hand are initially hidden; then they are faded in
    opacity: 0;
    pointer-events: none;
    transition: transform .5s, opacity .2s;

    &:last-of-type {
      min-width: 100px;
    }

    .card {
      position: absolute;
      transform: rotate(-3deg);
    }
  }
}